.buttonDelete {
  background: #ffe0dd;
  border-radius: 3px;
  color: #f44336;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  margin: 0 .5rem;
  text-align: center;
  transition: all;
}

.buttonDelete:hover {
  background: #ffd6d2;
 
}